@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 700px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.clock-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator {
  width: 340px;
  height: 500px;
  padding: 40px 30px;
  background-color: #e0e0e0;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 8px 8px 10px #cccccc, -8px -8px 24px #f0f0f0;
}

.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 12px 15px;
}

input {
  font-size: 15px;
  font-weight: 500;
  color: gray;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 13px;
  background: #e0e0e0;
  box-shadow: 5px 5px 18px #cecece, -3px -3px 10px #f0f0f0;
}

.button:hover {
  cursor: pointer;
  color: teal;
}

.button:active {
  box-shadow: 1px 2px 10px lightgray;
  transition: 0.1s;
}

.operator {
  color: tomato;
}

.text {
  height: 80px;
  text-align: right;
  font-size: 35px;
  color: gray;
  font-weight: 600;
  grid-column: span 4;
  margin-top: -15px;
  margin-bottom: 15px;
  padding-right: 20px;
  border-radius: 12px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #cecece, inset -5px -5px 10px #f2f2f2;
}

.clear {
  grid-column: span 3;
}

.result {
  grid-column: span 2;
}

.clock_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 5px 5px 7px #d3d3d3, -5px -5px 10px #ededed;
  cursor: pointer;
}

.clock_body-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 110px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #d3d3d3, inset -5px -5px 10px #ededed;
}

.clock_number {
  font-family: "Anton", sans-serif;
  letter-spacing: 7px;
  padding-top: 5px;
  font-size: 70px;
  color: tomato;
  opacity: 0.9;
  text-shadow: -1px -1px 2px rgb(251, 218, 162),
    2px 2px 4px rgba(249, 183, 171, 1);
}

.weather_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 5px 5px 7px #d3d3d3, -5px -5px 10px #ededed;
  cursor: pointer;
}
